[Unit]
Description=Fuel Node Service
After=network.target

[Service]
Type=simple
ExecStart={{ fuel_bin_path }}/fuel-core run \
  --service-name=fuel-sepolia-testnet-node \
  --keypair {{ p2p_secret.stdout }} \
  --relayer {{ eth_rpc_endpoint }} \
  --ip=0.0.0.0 --port=4000 --peering-port=30333 \
  --db-path={{ db_path }} \
  --snapshot {{ chain_config_folder }}/ignition \
  --utxo-validation --poa-instant false --enable-p2p \
  --reserved-nodes /dns4/p2p-testnet.fuel.network/tcp/30333/p2p/16Uiu2HAmDxoChB7AheKNvCVpD4PHJwuDGn8rifMBEHmEynGHvHrf \
  --sync-header-batch-size 100 \
  --enable-relayer \
  --relayer-v2-listening-contracts=0x01855B78C1f8868DE70e84507ec735983bf262dA \
  --relayer-da-deploy-height=5827607 \
  --relayer-log-page-size=500 \
  --sync-block-stream-buffer-size 30
Restart=always
User=root

[Install]
WantedBy=multi-user.target
